

.body {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
